page-something-went-wrong {
    .not-found-block{
        text-align: center;
        padding: 25px;
        padding-top: 50px;
        .no-result{
            font-size: 25px;
            font-weight: 500;
            margin: 10px;
        }
        .modify-search{
            font-size: 20px;
            margin: 10px;
        }

    }
}
