page-flight-search-two-way-results .scroll-content {
  overflow-y: auto !important;
}

page-flight-search-two-way-results .header-p {
  right: 0;
  left: 0;
  text-align: center;
}

page-flight-search-two-way-results .header-p .from-col {
  border-right: 1px solid white;
  text-align: end;
  padding: 0 5px;
}

page-flight-search-two-way-results .header-p .to-col {
  text-align: start;
  padding: 0 5px;
}

page-flight-search-two-way-results .header-p p {
  margin: 0;
  font-size: 16px;
  line-height: 0;
  color: #ffffff;
}

page-flight-search-two-way-results .header-p p ion-icon {
  font-size: 16px;
  margin: 0 5px;
  color: #ffffff;
}

page-flight-search-two-way-results .header-p span {
  font-size: 12px;
  color: #ffffff;
}

page-flight-search-two-way-results .sort-btn-div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
}

page-flight-search-two-way-results .sort-btn-div ion-row {
  width: 95%;
  margin: auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

page-flight-search-two-way-results .sort-btn-div ion-row ion-col {
  padding: 0;
  border-right: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

page-flight-search-two-way-results .sort-btn-div ion-row ion-col button {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  height: auto;
}

page-flight-search-two-way-results .sort-btn-div ion-row ion-col button span {
  font-size: 12px;
  font-weight: 300;
}

page-flight-search-two-way-results .sort-btn-div ion-row ion-col button span ion-icon {
  margin-left: 1px;
  font-size: 8px;
}

page-flight-search-two-way-results .sort-btn-div ion-row ion-col button {
  color: #956705;
}

page-flight-search-two-way-results .sort-btn-div ion-row ion-col .selected {
  background-color: #956705;
  color: white;
}

page-flight-search-two-way-results .sort-btn-div ion-row ion-col:last-child {
  border: 0;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content {
  padding: 0 !important;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .radio-ios .radio-icon {
  border-radius: 50px;
  border: 2px solid #956705;
  position: relative;
  display: block;
  width: 23px;
  height: 24px;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row {
  padding: 0px 5px;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .from {
  display: flow-root;
  text-align: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .from p {
  font-size: 16px;
  color: black;
  font-weight: 300;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .from span {
  color: #666;
  font-size: 12px;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .info {
  display: flow-root;
  text-align: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .info ion-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  color: #666;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .info .arrow-row .arrow-col {
  border: 1px dashed #956705;
  /* height: 1px; */
  padding: 0;
  display: flow-root;
  /* text-align: end; */
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .info .arrow-row .forward-col {
  padding: 0;
  display: flow-root;
  text-align: end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 7px;
  color: #956705;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .info .arrow-row .dot-col {
  padding: 0;
  display: flow-root;
  text-align: end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 7px;
  color: #956705;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .to {
  display: flow-root;
  text-align: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .to p {
  font-size: 16px;
  color: black;
  font-weight: 300;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .timings-row .to span {
  color: #666;
  font-size: 12px;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .price-row {
  background: #efefef;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .price-row .flight-info-domestic {
  text-align: center;
  display: -webkit-inline-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .price-row .flight-info-domestic p {
  font-size: 12px;
  margin: auto;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .price-row .flight-info-domestic img {
  max-width: 20px;
  max-height: 20px;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .price-row .flight-info {
  text-align: center;
  display: flow-root;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .price-row .flight-info p {
  font-size: 12px;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .price-row .flight-info img {
  max-width: 20px;
  max-height: 20px;
}

page-flight-search-two-way-results ion-content ion-card ion-card-content .price-row .price-info {
  text-align: end;
  display: flow-root;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-style: italic;
  font-size: 12px;
}

page-flight-search-two-way-results .div-footer {
  background-color: #956705;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0px 1px 1px 1px #ccc;
          box-shadow: 0px 1px 1px 1px #ccc;
}

page-flight-search-two-way-results .div-footer ion-col {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

page-flight-search-two-way-results .div-footer ion-col .label-col {
  padding: 0;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: white;
  margin: 0;
}

page-flight-search-two-way-results .div-footer ion-col .detail-col {
  padding: 0;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: white;
  margin: 0;
}

page-flight-search-two-way-results .div-footer ion-col button {
  background: #956705;
  height: auto;
  padding: 8px;
  white-space: pre-wrap !important;
}

page-flight-search-two-way-results .div-footer ion-col .detail {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}
/*# sourceMappingURL=flight-search-two-way-results.css.map */