<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" right><button ion-button icon-only>
      <ion-icon ios="ios-home" md="md-home"></ion-icon></button>
    </ion-buttons>
    <ion-title>Booking Voucher</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

  <div class="header-div">
    <ion-row>
      <ion-col class="detail-col">
        <div class="image-div">
          <ion-icon name="custom-ticket"></ion-icon>
        </div>
        <div class="detail-div">
          <p>Booking Voucher</p>
          <span>Date: {{departDate|date:'EE'}}, {{departDate|date:'dd'}} {{departDate|date:'MMM'}} {{departDate|date:'yyyy'}}</span>
        </div>
      </ion-col>
      <ion-col class="image-col" col-4>
        <img src="assets/imgs/logo/logo.png">
      </ion-col>
    </ion-row>
  </div>

  <div class="header-div">
    <ion-row>
      <ion-col>
        Hi {{adults[0].title+'. '+adults[0].firstName+' '+adults[0].lastName}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="bookingDetails">
      <ion-col>Thank you for booking with The walz travels<br> The walz travels. Reference number : {{bookingDetails.BookFlightResponse.BookFlightResult.reference_no}}</ion-col>
    </ion-row>
    <!-- <ion-row *ngFor="let destInfo of bookingOne">
      <ion-col>{{bookingDetails.BookFlightResponse.BookFlightResult.reference_no}}</ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>Please print and take this booking confirmation with you to the airport. It may speed up your check-in  experience.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>For any concerns / queries related to this booking, please mention this reference number in all your future communications with us.</ion-col>
    </ion-row>
    <ion-row  *ngIf="bookingDetails">
      <ion-col>Booking Status : {{bookingDetails.BookFlightResponse.BookFlightResult.Status}}</ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row class="heading-data">
      <ion-col>Travellers Information:</ion-col>
    </ion-row>
    <div class="contant-data">
      <ion-row *ngFor="let adult of adults;">
        <ion-col>
          <div *ngIf="adult.firstName"></div>
          {{adult.firstName?adult.title+'. '+adult.firstName+' '+adult.lastName:'Adult'}}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let child of children;">
        <ion-col>
          <div *ngIf="child.firstName"></div>
          {{child.firstName?child.title+'. '+child.firstName+' '+child.lastName:'Child'}}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let infant of infants;">
        <ion-col>
          <div *ngIf="infant.firstName"></div>
          {{infant.firstName?infant.title+'. '+infant.firstName+' '+infant.lastName:'Infant'}}
        </ion-col>
      </ion-row>
    </div>   
  </div>

  <ion-row class="heading-data">
    <ion-col col-1.5>Booking Information</ion-col>
  </ion-row>
  
  <ion-row class="heading-data">
    <ion-col col-4>PNR</ion-col>
    <ion-col col-4>Reference Number</ion-col>
    <ion-col col-4>Ticket Number</ion-col>
  </ion-row>
  <ion-row class="contant-data" *ngIf="bookingDetails">
    <ion-col col-4>{{bookingDetails.BookFlightResponse.BookFlightResult.PNR}} <br>  {{bookingDetails.BookFlightResponse2.BookFlightResult.PNR}} </ion-col>
    <ion-col col-4>{{bookingDetails.BookFlightResponse.BookFlightResult.reference_no}}</ion-col>
    <ion-col col-4>
      <ion-row>
        <ion-col no-padding *ngFor="let ticket of bookingDetails.BookFlightResponse.BookFlightResult.tickets">
          {{ticket}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col no-padding>
          Return -
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col no-padding *ngFor="let ticket of bookingDetails.BookFlightResponse2.BookFlightResult.tickets">
          {{ticket}}
        </ion-col>
      </ion-row>
      <!-- {{bookingDetails.BookFlightResponse.BookFlightResult.booking_id}} <br> {{bookingDetails.BookFlightResponse2.BookFlightResult.booking_id}} -->
    </ion-col>
  </ion-row>  

  <div>
    <!-- <ion-row>
      <ion-col>Departure</ion-col>
    </ion-row> -->
    <ion-item>
      <ion-badge>Departure</ion-badge>
    </ion-item>
    <ion-row class="heading-data">
      <ion-col col-1.5>Dep.</ion-col>
      <ion-col col-3>From</ion-col>
      <ion-col col-3>To</ion-col>
      <ion-col col-1.5>Arv.</ion-col>
      <ion-col col-1.5>Flight</ion-col>
      <ion-col col-1>
        <ion-icon item-start name="custom-luggage"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="contant-data" *ngFor="let destInfo of flightInfoOne.OriginDestinationOption;let i=index">
      <ion-col col-1.5><span>{{destInfo.FlightSegment.DepartureDateTime|date:'HH:mm'}}
          {{destInfo.FlightSegment.DepartureDateTime|date:'MMM dd'}}</span></ion-col>
      <ion-col col-3><span>{{destInfo.FlightSegment.DepartureAirportLocationCode}} <br>
          {{getAirportDetail(destInfo.FlightSegment.DepartureAirportLocationCode)}} <br>
          {{getAirportName(destInfo.FlightSegment.DepartureAirportLocationCode)}} </span></ion-col>
      <ion-col col-3><span>{{destInfo.FlightSegment.ArrivalAirportLocationCode}} <br>
          {{getAirportDetail(destInfo.FlightSegment.ArrivalAirportLocationCode)}} <br>
          {{getAirportName(destInfo.FlightSegment.ArrivalAirportLocationCode)}} </span></ion-col>
      <ion-col col-1.5><span>{{destInfo.FlightSegment.ArrivalDateTime|date:'HH:mm'}}
          {{destInfo.FlightSegment.ArrivalDateTime|date:'MMM dd'}}</span></ion-col>
      <ion-col col-1.5><span>{{destInfo.FlightSegment.MarketingAirlineCode}}-{{destInfo.FlightSegment.FlightNumber}}
        </span><img src="assets/imgs/airlines/{{destInfo.FlightSegment.MarketingAirlineCode}}.gif"><br>
        {{getAirlineName(destInfo.FlightSegment.MarketingAirlineCode)}} </ion-col>
      <ion-col col-1><span>{{destInfo.FlightSegment.Baggage}}</span></ion-col>
    </ion-row>

    <ion-item>
      <ion-badge>Return</ion-badge>
    </ion-item>
    <ion-row class="heading-data">
      <ion-col col-1.5>Dep.</ion-col>
      <ion-col col-3>From</ion-col>
      <ion-col col-3>To</ion-col>
      <ion-col col-1.5>Arv.</ion-col>
      <ion-col col-1.5>Flight</ion-col>
      <ion-col col-1>
        <ion-icon item-start name="custom-luggage"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="contant-data" *ngFor="let destInfo of flightInfoTwo.OriginDestinationOption;let i=index">
      <ion-col col-1.5><span>{{destInfo.FlightSegment.DepartureDateTime|date:'HH:mm'}}
          {{destInfo.FlightSegment.DepartureDateTime|date:'MMM dd'}}</span></ion-col>
      <ion-col col-3><span>{{destInfo.FlightSegment.DepartureAirportLocationCode}} <br>
          {{getAirportDetail(destInfo.FlightSegment.DepartureAirportLocationCode)}} <br>
          {{getAirportName(destInfo.FlightSegment.DepartureAirportLocationCode)}} </span></ion-col>
      <ion-col col-3><span>{{destInfo.FlightSegment.ArrivalAirportLocationCode}} <br>
          {{getAirportDetail(destInfo.FlightSegment.ArrivalAirportLocationCode)}} <br>
          {{getAirportName(destInfo.FlightSegment.ArrivalAirportLocationCode)}} </span></ion-col>
      <ion-col col-1.5><span>{{destInfo.FlightSegment.ArrivalDateTime|date:'HH:mm'}}
          {{destInfo.FlightSegment.ArrivalDateTime|date:'MMM dd'}}</span></ion-col>
      <ion-col col-1.5><span>{{destInfo.FlightSegment.MarketingAirlineCode}}-{{destInfo.FlightSegment.FlightNumber}}
        </span> <img src="assets/imgs/airlines/{{destInfo.FlightSegment.MarketingAirlineCode}}.gif"> <br>
        {{getAirlineName(destInfo.FlightSegment.MarketingAirlineCode)}} </ion-col>
      <ion-col col-1><span>{{destInfo.FlightSegment.Baggage}}</span></ion-col>
    </ion-row>
  </div>

  <ion-row class="heading-data">
    <ion-col col-2.5>Pax</ion-col>
    <ion-col col-2.5>Base Fare</ion-col>
    <ion-col col-2.5>Tax & Charges</ion-col>
    <ion-col col-2>Extra Baggage</ion-col>
    <ion-col col-2.5>Total</ion-col>
  </ion-row>
  <ion-row class="contant-data">
    <ion-col col-2.5>Adult x {{personDetail.adults}}, Child x {{personDetail.children}}, Infant x {{personDetail.infants}}</ion-col>
    <ion-col col-2.5  *ngIf="FlightAllFix.b2c == 0">{{flightInfoTwoAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} {{totalBaseFare+FlightAllMarkup.b2c| number:'.0-2'}}</ion-col>
    <ion-col col-2.5  *ngIf="FlightAllFix.b2c == 1">{{flightInfoTwoAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} {{(totalFareOne*(FlightAllMarkup.b2c)/100)+(totalFareTwo*(FlightAllMarkup.b2c)/100)+(totalBaseFare)| number:'.0-2'}}</ion-col>
    
    <ion-col col-2.5>{{flightInfoTwoAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} {{totalTaxFare}}</ion-col>
    <ion-col col-2>{{flightInfoTwoAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} 0</ion-col>
    <ion-col col-2.5 *ngIf="FlightAllFix.b2c == 0">{{flightInfoTwoAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} {{totalFareOne+totalFareTwo+FlightAllMarkup.b2c| number:'.0-2'}}</ion-col>
    <ion-col col-2.5 *ngIf="FlightAllFix.b2c == 1">{{flightInfoTwoAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} {{(totalFareOne*(FlightAllMarkup.b2c)/100+totalFareOne)+(totalFareTwo*(FlightAllMarkup.b2c)/100+totalFareTwo)| number:'.0-2'}}</ion-col>
  
  </ion-row>
    <ion-row *ngIf="FlightAllFix.b2c == 0">
      <ion-col><p text-right>NET PAYABLE : <ion-badge>{{flightInfoTwoAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} {{totalFareOne+totalFareTwo+FlightAllMarkup.b2c| number:'.0-2'}}</ion-badge></p></ion-col>
    </ion-row>
    <ion-row *ngIf="FlightAllFix.b2c == 1">
      <ion-col><p text-right>NET PAYABLE : <ion-badge>{{flightInfoTwoAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} {{(totalFareOne*(FlightAllMarkup.b2c)/100+totalFareOne)+(totalFareTwo*(FlightAllMarkup.b2c)/100+totalFareTwo)| number:'.0-2'}}</ion-badge></p></ion-col>
    </ion-row>

  <div class="footer-div">
    <p>Baggage Discount may apply base on frequest flyer status / Online Checking /Form of payment / etc.</p>
    <ion-row>
      <ion-col><p text-left>Phone : +44 (0) 2088431737</p></ion-col>
      <ion-col><p text-right>Email : info@walztravels.com</p></ion-col>
    </ion-row>
  </div>

</ion-content>
