
<ion-content>
<div class="upper-bg-div">
    <button (click)="goBack()" class="back-btn" clear ion-button><ion-icon  name="custom-back"></ion-icon></button>
  <!-- <img src="../../assets/imgs/backgrounds/top.svg"> -->
  <div class="key-holder">
    <ion-icon name="custom-key"></ion-icon>
  </div>
  <p class="main-label">Change Password</p>
</div>
<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Email ID</ion-label>
      <ion-input readonly [(ngModel)]="emailid" type="text"></ion-input>
      <ion-icon class="icon-btn" name="custom-email" item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>Current Password</ion-label>
      <ion-input [(ngModel)]="currentPassword"  type={{currenttype}}></ion-input>
      <ion-icon *ngIf="!showCurrentPass" (click)="showCurrentPassword()" class="icon-btn" name="custom-eye-off" item-right></ion-icon>
      <ion-icon *ngIf="showCurrentPass" (click)="showCurrentPassword()" class="icon-btn" name="custom-eye" item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>New Password</ion-label>
      <ion-input [(ngModel)]="newPassword" type={{newtype}}></ion-input>
      <ion-icon *ngIf="!showNewPass" (click)="showNewPassword()" class="icon-btn" name="custom-eye-off" item-right></ion-icon>
      <ion-icon *ngIf="showNewPass" (click)="showNewPassword()" class="icon-btn" name="custom-eye" item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" (keyup)='onChange($event._value)' type={{confirmtype}}></ion-input>
      <ion-icon *ngIf="!showConfirmPass" (click)="showConfirmPassword()" class="icon-btn" name="custom-eye-off" item-right></ion-icon>
      <ion-icon *ngIf="showConfirmPass" (click)="showConfirmPassword()" class="icon-btn" name="custom-eye" item-right></ion-icon>
    </ion-item>
    <div class="confirm-error" *ngIf="!isConfirm">
      Password does not match the confirm password
    </div>
    <ion-row class="forget-pass-row">
        <button class="forget-password" [disabled]="getButtonStatus()" (click)="changePassword()" ion-button >Change password</button>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-content>
