page-spalsh {
    .not-found-block{
        text-align: center;
        padding: 25px;
        padding-top: 60%;
        .no-result{
            font-size: 25px;
            font-weight: 500;
            margin: 10px;
        }
      

    }
   
}
