page-flight-hotel-search-engine,
page-bundle-save-search-engine{
    .scroll-content {
        overflow-y: auto !important;
      }
    .backbtn .toolbar-background {
        background: transparent;
    }
    .backbtn .toolbar-title {
        font-size: 20px;
        color:#ffffff;
    }
    .backbtn  .bar-button-default{
        color:#ffffff;
    }
      .backbtn{
        position: absolute;
        top: 15px;
        left: 10px;
        z-index: 99;
        background: transparent;
      }
      img {
        width: 100%;
        height: 175px;
        }
    .search-div{
        background-color: #ffffff;
        .image-slide {
            ion-slide {
              margin-right: 0;
                .deal-img {
                  height: 180px;
                  background-size: cover;
                }
            }
          }
          .deal-img::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
         //   background: rgba(0, 0, 0, 0.5);
      
          }
      
        .header-div{
            width: 100%;
            position: relative;
            height: 50px;
            button{
                position: absolute;
                top: 54%;
                left: 5%;
                transform: translate(-50%, -50%);
                margin: 0;
                color: #0070d2;
            }
            p{
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 18px;
                font-weight: 300;
            }
        }
        
        .single-round-way{
          //  padding-top: 10px;
            padding-bottom: 10px;
            .all-from{
                border-bottom: 1px solid #dedede;
            .from-div{
               
                padding: 5px 10px;
                position: relative;
                width: 100%;
                .label{
                    margin: 0;
                    text-transform: uppercase;
                    color: #666;
                    font-size: 13px;
                }
                .detail{
                    font-size: 16px;
                    font-weight: 300;
                    margin: 0;
                    span{
                        padding-left: 5px;
                        color: #666;
                    }
                }
            }
            .swap-div1{
                margin: auto;
                .swap-div{
                    text-align: center;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
                   // position: absolute;
                    display: inline-grid;
                    justify-content: center;
                    align-items: center;
                    // bottom: -40%;
                    // right: 5%;
                    background: white;
                    ion-icon{
                        font-size: 25px;
                        color: #006ed5;
                    }
                }

            }
           
            .to-div{
                padding: 5px 10px;
               // position: relative;
                width: 100%;
                text-align: end;
                .label {
                    margin: 0;
                    text-transform: uppercase;
                    color: #666;
                    font-size: 13px;
                }

                .detail {
                    font-size: 16px;
                    font-weight: 300;
                    margin: 0;

                    span {
                        padding-left: 5px;
                        color: #666;
                    }
            }
        }}

            .date-div{
                border-bottom: 1px solid #dedede;
              //  padding: 5px 10px;
                position: relative;
                width: 100%;
                ion-row{
                    .from-date{
                        padding: 15px;
                        .label{
                            margin: 0;
                            text-transform: uppercase;
                            color: #666;
                            font-size: 13px;
        
                        }
                        ion-row{
                            .date{
                                font-size: 16px;
                                font-weight: 300;
                                margin: 0;
                               // text-align: center;
                              //  padding: 0 5px 0 0;
                            }
                            .day-month{
                                align-self: center;
                                 padding: 0 5px 0 0;
                                 .month{
                                    font-size: 13px;
                                    font-weight: normal;
                                 }
                                 .day{
                                    color: #666;
                                    font-size: 13px;
                                    font-weight: normal;
                                 }
                            }
                            .one-way-col{
                                align-self: center;
                                padding: 5px 5px 0 0;
                                ion-row{
                                    color: #666;
                                    font-size: 13px;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                    .to-date{
                        padding: 15px;
                        text-align: end;
                        .label{
                            margin: 0;
                            text-transform: uppercase;
                            color: #666;
                            font-size: 13px;
        
                        }
                        ion-row{
                           float: right;
                            .date{
                                font-size: 16px;
                                font-weight: 300;
                                margin: 0;
                               // text-align: center;
                              //  padding: 0 5px 0 0;
                            }
                            .day-month{
                                align-self: center;
                                 padding: 0 5px 0 0;
                                 .month{
                                    font-size: 13px;
                                    font-weight: normal;
                                 }
                                 .day{
                                    color: #666;
                                    font-size: 13px;
                                    font-weight: normal;
                                 }
                            }
                            .one-way-col{
                                align-self: center;
                                padding: 5px 5px 0 0;
                                ion-row{
                                    color: #666;
                                    font-size: 13px;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
            }
            .button-row{
                ion-row{
                    border-bottom: 1px solid #dedede;
                    padding: 5px 0;
                    ion-col{
                        padding: 0;
                        justify-content: center;
                        display: grid;
                        button{
                            height: auto;
                            margin: 0;
                            .icon-div{
                                height: 25px;
                                width: 25px;
                                border: 1px solid;
                                border-radius: 50%;
                                display: inline-grid;
                                justify-content: center;
                                align-items: center;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .extra-info{
                padding: 5px 10px;
                position: relative;
                width: 100%;
                ion-row{
                    .traveller-col {
                        padding: 0;
                        .label{
                            margin: 0;
                            text-transform: uppercase;
                            color: #666;
                            font-size: 13px;
        
                        }
                        .value{
                            margin: 0;
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                    .class-col{
                        padding: 0;
                        text-align: end;
                        .label{
                            margin: 0;
                            text-transform: uppercase;
                            color: #666;
                            font-size: 13px;
                        }
                        .value{
                            margin: 0;
                            font-size: 14px;
                            font-weight: 300;
                            
                        }
                        [padding] {
                            float: right;
                            padding: 5px 0 0 0;
                        }
                    }
                }
            }
        }
    
        .multi-round-way{
          //  padding-top: 10px;
            padding-bottom: 10px;
            .journey-detail-div{
                .label-row{
                    margin: 5px 10px 0;
                    ion-col{
                        padding: 0;
                        text-transform: uppercase;
                        color: #666;
                        font-size: 13px;
                    }
                }
                .date-detail{
                    margin: 0px 10px;
                    padding: 3px 0;
                    border-bottom: 1px solid #dedede;
                    ion-col{
                        padding: 0;
                        .main{
                            font-size: 16px;
                            font-weight: 300;
                            margin: 0;
                        }
                        .sub{
                            color: #666;
                            font-size: 11px;
                            font-weight: 100;
                        }
                    }
                }
                
            }
            .extra-info{
                padding: 5px 10px;
                position: relative;
                width: 100%;
                ion-row{
                    .traveller-col {
                        padding: 0;
                        .label{
                            margin: 0;
                            text-transform: uppercase;
                            color: #666;
                            font-size: 13px;
        
                        }
                        .value{
                            margin: 0;
                            font-size: 24px;
                            font-weight: 300;
                        }
                    }
                    .class-col{
                        padding: 0;
                        .label{
                            margin: 0;
                            text-transform: uppercase;
                            color: #666;
                            font-size: 13px;
                        }
                        .value{
                            margin: 0;
                            font-size: 14px;
                            font-weight: 300;
                            
                        }
                        [padding] {
                            padding: 5px 5px 0 0;
                        }
                    }
                }
            }
        }
        
        .search-button{
            padding: 10px;
            
        }
    }
    .item{
        background: transparent;
        ion-label{
            white-space: normal;
        }
        
        ion-icon{
            color: $background;
        }
        p{
            font-size: 12px;
        }
        .toolbar-title {
            font-size: 12px;
            color: #ffffff;
        }
    }
}
.action-sheet-md .action-sheet-group:last-child {
    padding-bottom: 0;
     border: 0.5px solid #ccc;
 }
 .action-sheet-md .action-sheet-button {
     border: 0.5px solid #ccc;
 }