<ion-header>
  <ion-navbar>
    <ion-title>Guest Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="addGuest(form)" novalidate>
      <div>
        <p>Title</p>
        <ion-row *ngIf="isAdult" radio-group class="title-radio" [(ngModel)]="personDetail.title" name="title">
          <ion-col col-4>
            <ion-radio class="radio-icon" value="Mr" name="rad1"></ion-radio>
            <ion-label class="radio-label">Mr</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-radio class="radio-icon" value="Mrs" button name="rad2"></ion-radio>
            <ion-label class="radio-label">Mrs</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-radio class="radio-icon" value="Ms" name="rad1"></ion-radio>
            <ion-label class="radio-label">Ms</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isChild" radio-group class="title-radio" [(ngModel)]="personDetail.title"  name="title">
          <ion-col>
            <ion-radio class="radio-icon" value="Master" name="rad1"></ion-radio>
            <ion-label class="radio-label">Master</ion-label>
          </ion-col>
          <ion-col>
            <ion-radio class="radio-icon" value="Miss" button name="rad2"></ion-radio>
            <ion-label class="radio-label">Miss</ion-label>
          </ion-col>
        </ion-row>
      </div>
     
      <ion-item>
        <ion-label fixed>First Name</ion-label>
        <ion-input [(ngModel)]="personDetail.firstName" type="text" name="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Last Name</ion-label>
        <ion-input [(ngModel)]="personDetail.lastName" type="text" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Age</ion-label>
        <ion-input readonly="{{isChild}}" [(ngModel)]="personDetail.age" type="number" name="age"></ion-input>
      </ion-item>
      <ion-row class="button-row">
        <button [disabled]="isButtonDisable()" type="submit" ion-button>Add Guest</button>
      </ion-row>
    </form>
    </ion-card-content>

  </ion-card>
</ion-content>
