page-flight-hotel-details {
  .scroll-content {
    overflow-y: auto !important;
  }
  .backbtn{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
    background: transparent;
  }

  .image-div {
    width: 100%;
    height: 200px;
    img {
     // opacity: 0.7;
      width: 100%;
      height: 100%;
    }

    .slider-num-div {
      width: min-content;
      height: min-content;
      padding: 0px;
      border-radius: 0px;
      font-size: 11px;
      font-style: italic;
      position: absolute;
      bottom: 10px;
      right: 10px;
      /* background: antiquewhite; */
      background-color: $background;
      color: #fff;
      z-index: 5;
      min-width: 30px;
      max-height: 25px;
    }
  }

  .header-div {
    background: #ffffff;
  
    .detail-col {
      align-self: center;
      .header-p {
        color: #000;
        margin: 8px 0;
        font-size: 18px;
        font-weight: 500;
      }
      rating {
        color: #FFC000;
        
        ul {
          margin: 0;
          padding: 0;

          li {
            padding: 0 !important;
          }
        }
      }
    }

    .review-item{
      ion-badge{
        background: $background;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
      }
      p{
        font-size: 16px;
        font-weight: 400;
        color: #3A5A99;
      }
      span {
        font-size: 16px;
        font-weight: 400;
        color:  #3A5A99;
      }
    }

    .horizontal-scroll {
      overflow: auto;
      white-space: nowrap;
      .chip-md {
        border-right: 1px solid #ffffff;
        border-radius: 0px;
        color: #000;
    }
  }

    ion-item{
      background: transparent;
      ion-label{
          white-space: normal;
      }
      ion-icon{
          color: $background;
      }
      p{
          font-size: 12px;
          text-align: justify;
      }
  }
  }
  .rooms-data{
    .head-rooms{
      background:$background;
      ion-label{
        white-space: normal;
    }
      p{
        font-size: 16px;
        color: #fff;
      }
    }
    text-align: end;
    .book-btn{
     float: right;
    }
  }
}