<ion-header>
  <ion-navbar>
    <ion-title>Review Flight Details</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content>
    <ion-card class="flight-info">
      <ion-item *ngIf="flightInfoOneAll">
        <span>{{departDate|date:'EEE, dd LLL'}}</span> |
        <span>{{filterOne.OriginDestinationOptions.length>1?(filterOne.OriginDestinationOptions.length-1)+'Stop,':'Non Stop'}}</span>
        | <ion-icon ios="ios-time" md="md-time"></ion-icon> <span>{{getTotalDuration(filterOne.OriginDestinationOptions)}}</span>
        <button *ngFor="let rule of flightFareRules" item-end (click)="fareRulesdata(rule.FareRules[0].FareRule.Rules)" ion-button clear>Fare Rules</button>
      </ion-item>

      <div class="flight-div" *ngFor="let destInfo of flightInfoOne.OriginDestinationOption;let i=index">
        <div class="start-dot">
        </div>
        <ion-grid>
          <ion-row class="flight-detail">
            <ion-col col-2 class="label">
              <p>{{destInfo.FlightSegment.DepartureDateTime|date:'HH:mm'}}</p>
              <!-- <span>{{destInfo.FlightSegment.DepartureDateTime|date:'MMM dd'}}</span> -->
            </ion-col>
            <ion-col col-10 class="value">
              <p><span>{{destInfo.FlightSegment.DepartureAirportLocationCode}}</span>
               {{getAirportDetailCity(destInfo.FlightSegment.DepartureAirportLocationCode)}}
                {{getAirportDetail(destInfo.FlightSegment.DepartureAirportLocationCode)}}</p> 
            </ion-col>
            <ion-col col-2 class="trip">
              <div class="trip">
                <p>{{getTripDuration(destInfo.FlightSegment)}}</p>
              </div>
            </ion-col>
            <ion-col col-10 class="value">
              <ion-item>
                <img item-start src="assets/imgs/airlines/{{destInfo.FlightSegment.MarketingAirlineCode}}.gif"
                  width="2">
                <p>{{getAirlineName(destInfo.FlightSegment.MarketingAirlineCode)}}
                  <span>{{destInfo.FlightSegment.MarketingAirlineCode}}-{{destInfo.FlightSegment.FlightNumber}}</span> </p>
                  <ion-badge item-end> <ion-icon name="custom-luggage" (click)="goToBaggage(destInfo.FlightSegment)" ></ion-icon></ion-badge>
              </ion-item>
  
            </ion-col>
            <ion-col col-2 class="label">
              <p>{{destInfo.FlightSegment.ArrivalDateTime|date:'HH:mm'}}</p>
              <!-- <span>{{destInfo.FlightSegment.ArrivalDateTime|date:'MMM dd'}}</span>  -->
            </ion-col>
            <ion-col col-10 class="value">
              <p><span>{{destInfo.FlightSegment.ArrivalAirportLocationCode}}</span>
                {{getAirportDetailCity(destInfo.FlightSegment.ArrivalAirportLocationCode)}}
                {{getAirportDetail(destInfo.FlightSegment.ArrivalAirportLocationCode)}}</p>
            </ion-col>
            <div class="end-dot">
            </div>
          </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-10>
            <div *ngIf="i<flightInfoOne.OriginDestinationOption.length-1"
              class="layover-div">
              <span>{{getLayowerTime(i,flightInfoOne)}}
                layover in
                {{getAirportDetail(destInfo.FlightSegment.ArrivalAirportLocationCode)}}</span>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- <ion-item class="farerules" >
        <ion-icon item-start name="custom-luggage"></ion-icon>
        <p>{{rule.BaggageInfos[0].BaggageInfo.Baggage}}</p>
        <button *ngFor="let rule of flightFareRules" item-end (click)="fareRulesdata(rule.FareRules[0].FareRule.Rules)" ion-button clear>Fare Rules</button>
        </ion-item> -->
      <ion-item *ngIf="flightInfoTwoAll">
        <span>{{returnDate|date:'EEE, dd LLL'}}</span> |
        <span>{{filterTwo.OriginDestinationOptions.length>1?(filterTwo.OriginDestinationOptions.length-1)+'Stop,':'Non Stop'}}</span>
        | <ion-icon ios="ios-time" md="md-time"></ion-icon>
        <span>{{getTotalDuration(filterTwo.OriginDestinationOptions)}}</span>
        <button item-end *ngFor="let rule of flightFareRulesD" (click)="fareRulesdata(rule.FareRules[0].FareRule.Rules)" ion-button clear>Fare Rules</button>
      </ion-item>

     <div class="flight-div" *ngFor="let destInfo of flightInfoTwo.OriginDestinationOption;let i=index">
        <div class="start-dot">
        </div>
        <ion-grid>
          <ion-row class="flight-detail">
            <ion-col col-2 class="label">
              <p>{{destInfo.FlightSegment.DepartureDateTime|date:'HH:mm'}}</p>
              <!-- <span>{{destInfo.FlightSegment.DepartureDateTime|date:'MMM dd'}}</span> -->
            </ion-col>
            <ion-col col-10 class="value">
              <p><span>{{destInfo.FlightSegment.DepartureAirportLocationCode}}</span>
                {{getAirportDetailCity(destInfo.FlightSegment.DepartureAirportLocationCode)}}
                {{getAirportDetail(destInfo.FlightSegment.DepartureAirportLocationCode)}}</p>
            </ion-col>
            <ion-col col-2 class="label">
              <p>{{getTripDuration(destInfo.FlightSegment)}}</p>
            </ion-col>
            <ion-col col-10 class="value">
              <ion-item>
                <img item-start src="assets/imgs/airlines/{{destInfo.FlightSegment.MarketingAirlineCode}}.gif " width="2">
                <p>{{getAirlineName(destInfo.FlightSegment.MarketingAirlineCode)}} 
                <span> {{destInfo.FlightSegment.MarketingAirlineCode}}-{{destInfo.FlightSegment.FlightNumber}}</span></p>
                <ion-badge item-end> <ion-icon name="custom-luggage" (click)="goToBaggage(destInfo.FlightSegment)" ></ion-icon></ion-badge>
              </ion-item>
            </ion-col>
            <ion-col col-2 class="label">
              <p>{{destInfo.FlightSegment.ArrivalDateTime|date:'HH:mm'}}</p>
              <!-- <span>{{destInfo.FlightSegment.DepartureDateTime|date:'MMM dd'}}</span> -->
            </ion-col>
            <ion-col col-10 class="value">
              <p><span>{{destInfo.FlightSegment.ArrivalAirportLocationCode}}</span>
                {{getAirportDetailCity(destInfo.FlightSegment.ArrivalAirportLocationCode)}}
                {{getAirportDetail(destInfo.FlightSegment.ArrivalAirportLocationCode)}}</p>
            </ion-col>
            <div class="end-dot">
            </div>
          </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-10>
            <div *ngIf="i<flightInfoTwo.OriginDestinationOption.length-1" class="layover-div">
              <span>{{getLayowerTimeTwo(i,flightInfoTwo)}} layover in {{getAirportDetail(destInfo.FlightSegment.ArrivalAirportLocationCode)}}</span>
            </div>
          </ion-col>
        </ion-row>
      </div> 
      <!-- <ion-item class="farerules" *ngFor="let rule of flightFareRulesD">
        <ion-icon item-start name="custom-luggage"></ion-icon>
        <p>{{rule.BaggageInfos[0].BaggageInfo.Baggage}}</p>
        <button item-end *ngFor="let rule of flightFareRulesD" (click)="fareRulesdata(rule.FareRules[0].FareRule.Rules)" ion-button clear>Fare Rules</button>
      </ion-item> -->
    </ion-card>
    <ion-card class="fare-detail-card">
      <ion-card-content *ngIf="flightInfoTwoAll&&flightInfoOneAll">
          <div class="payment-info" >
              <ion-row class="header-row">
                <div   class="label">
                  Pax
                </div>
                <div class="value">
                  Adult x {{personDetail.adults}}, Child x {{personDetail.children}}, Infant x {{personDetail.infants}}
                </div>
              </ion-row>
              
              <ion-row>
                <div   class="label">
                  Basic Fare
                </div>
                <div class="value" *ngIf="FlightAllFix.b2c == 0">
                    {{flightInfoOneAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}}
                    {{totalBaseFareOne+totalBaseFareTwo+FlightAllMarkup.b2c | number:'.0-2'}}
                </div>
                <div class="value" *ngIf="FlightAllFix.b2c == 1">
                  {{flightInfoOneAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}}
                  {{(totalFareOne*(FlightAllMarkup.b2c)/100)+(totalFareTwo*(FlightAllMarkup.b2c)/100)+(totalBaseFareOne+totalBaseFareTwo)| number:'.0-2'}}
              </div>
              </ion-row>
              <ion-row>
                <div   class="label">
                  Fee & Surcharges
                </div>
                <div class="value">
                  {{flightInfoOneAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}} 
                  {{totalTaxFareOne+totalTaxFareTwo| number:'.0-2'}}
                </div>
              </ion-row>
             
              <ion-row class="total-row">
                <div   class="label">
                  Total
                </div>
                <div class="value" *ngIf="FlightAllFix.b2c == 0">
                    {{flightInfoOneAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}}
                    {{totalFareOne+totalFareTwo+FlightAllMarkup.b2c| number:'.0-2'}}
                </div>
                <div class="value" *ngIf="FlightAllFix.b2c == 1">
                  {{flightInfoOneAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}}
                  {{(totalFareOne*(FlightAllMarkup.b2c)/100+totalFareOne)+(totalFareTwo*(FlightAllMarkup.b2c)/100+totalFareTwo)| number:'.0-2'}}
              </div>
              </ion-row>
            </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  <div class="div-footer-flight" *ngIf="flightInfoOneAll&&flightInfoTwoAll">
    <ion-row>
      <ion-col col-6 *ngIf="FlightAllFix.b2c == 0">
        <p class="label-col">Total Amount</p>
        <p class="detail-col">{{flightInfoOneAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}}
          {{totalFareOne+totalFareTwo+FlightAllMarkup.b2c| number:'.0-2'}}
        </p>
      </ion-col>
      <ion-col col-6 *ngIf="FlightAllFix.b2c == 1">
        <p class="label-col">Total Amount</p>
        <p class="detail-col">{{flightInfoOneAll.FareItinerary.AirItineraryFareInfo.ItinTotalFares.TotalFare.CurrencyCode}}
          {{(totalFareOne*(FlightAllMarkup.b2c)/100+totalFareOne)+(totalFareTwo*(FlightAllMarkup.b2c)/100+totalFareTwo)| number:'.0-2'}}
        </p>
      </ion-col>
      <ion-col col-6 class="button-col"><button (click)="proceedToTravellerDetails()" color="danger" outline ion-button>PROCEED</button></ion-col>
    </ion-row>
  </div>

  