page-my-bookings {
  // .scroll-content {
  //   overflow-y: auto;
  //   margin-top: 50px;
  // }


 
  .card-div {
    margin-top: 30px;

    ion-card {
   
      ion-card-content {
        padding: 7px;

        .first-row {
          border-bottom: 1px dashed #dededef0;

          .icon-col {
            .hotel {
              background-color: green;
            }

            .flight {
              background-color: red;
            }

            div {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              font-size: 20px;
              display: inline-flex;
              color: white;

              ion-icon {
                margin: auto;
              }
            }
          }

          .time-col {
            align-self: center;
            text-align: start;
            padding-left: 3px;
            font-weight: 300;
            font-style: italic;
            font-size: 13px;
          }

          .status-col {
            align-self: center;
            text-align: end;
            padding-left: 3px;
            font-weight: 300;
            color: green;
          }

          .status-confirm {
            color: green;
          }

          .status-reject {
            color: red;
          }
        }

        .label-col {
          color: #999;
          font-weight: 400;
          text-align: start;
          font-size: 13px;
        }

        .data-col {
          text-align: end;
          font-weight: 300;
          font-size: 12px;
        }

        .booking-info {
          height: 20px;
          font-size: 15px;
          font-weight: 300;
          padding: 0;

          span {
            font-size: 14px;

          }
        }

     
      }
    }
  }

  .no-booking {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .icon-div {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      color: #0070d2;
      background-color: #0070d252;
      display: inline-flex;
      font-size: 80px;

      ion-icon {
        margin: auto;
      }
    }

    p {
      font-weight: 300;
      font-size: 16px;
    }
  }



}
