<!-- Generated template for the HotelFilterComponent component -->
<div class="search-bar-div">
  <ion-row class="icon-row">
    <ion-col class="icon-col" col-1>
      <button (click)="closeModal()" class="back-btn" clear ion-button>
        <ion-icon name="custom-close"></ion-icon>
      </button>
    </ion-col>
    <ion-col class="search-col"> Filters</ion-col>
    <ion-col col-2></ion-col>
    <!-- <ion-col class="icon-col" col-2><button (click)="reset()" class="back-btn apply-btn" clear ion-button>RESET</button></ion-col> -->
  </ion-row>
</div>
<ion-content>
  <ion-card class="star-card">
    <ion-list-header>
      Price
      <span item-end>{{currency}} {{price.lower}}</span>
      <span item-end>-</span>
      <span item-end>{{currency}} {{price.upper}}</span>
    </ion-list-header>
    <ion-range [min]="minPrice" [max]="maxPrice" dualKnobs="true" pin="true" [(ngModel)]="price"> </ion-range>
  </ion-card>

  
  <ion-card class="star-card">
    <ion-list-header>
      Star Rating
    </ion-list-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-3 *ngFor="let sizeList of sizeData">
          <button block ion-button  small  tappable [outline]="sizeList.hasTrue" (click)="starRating(sizeList.id,sizeList.hasTrue = !sizeList.hasTrue)">{{sizeList.id}} <ion-icon item-end   name="custom-star"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="star-card">
    <ion-card-header>Trip Advisor Rating</ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-3 *ngFor="let size of sizeData1">
          <button ion-button block small  tappable [outline]="size.isOutline"  (click)="tripAdvisorRating(size.id,size.isOutline = !size.isOutline)">{{size.id}} <ion-icon item-end   name="custom-rating"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card class="fare-card">
    <ion-card-header>Fare Type</ion-card-header>
    <ion-card-content> 
      <ion-item *ngFor="let fare of ['Non-Refundable','Refundable']">
        <ion-checkbox (ionChange)="selectfare($event,fare)"></ion-checkbox>
        <ion-label>{{fare}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-content>
      <ion-list-header>Hotel Type</ion-list-header>
      <ion-item *ngFor="let hotelType of hotelTypeList">
        <ion-checkbox (ionChange)="selecthotelType($event,hotelType)"></ion-checkbox>
        <ion-label>{{hotelType}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="price-card">
    <ion-list-header (click)="isHidden[i]=!isHidden[i]">
      <span item-end>
        <ion-icon [hidden]="isHidden[i]" name="custom-up-arrow"></ion-icon>
        <ion-icon [hidden]="!isHidden[i]" name="custom-down-arrow"></ion-icon>
      </span>
      <ion-label>Facilities</ion-label>
    </ion-list-header>
    <ion-card-content [hidden]="!isHidden[i]">
      <ion-row class="price-row" *ngFor="let facility of facilityList">
        <ion-col class="checkbox-col" col-2 >
          <ion-checkbox (ionChange)="selectMember($event,facility)"></ion-checkbox>
        </ion-col>
        <ion-col>
          <ion-label>{{facility}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>



  <ion-card class="price-card">
    <ion-list-header (click)="isHiddenl[i]=!isHiddenl[i]">
      <span item-end>
        <ion-icon [hidden]="isHiddenl[i]" name="custom-up-arrow"></ion-icon>
        <ion-icon [hidden]="!isHiddenl[i]" name="custom-down-arrow"></ion-icon>
      </span>
      <ion-label>Sub Locality</ion-label>
    </ion-list-header>
    <ion-card-content [hidden]="!isHiddenl[i]">
      <ion-row class="price-row" *ngFor="let subLocality of subLocalityList">
        <ion-col class="checkbox-col" col-2 >
          <ion-checkbox (ionChange)="selectlocality($event,subLocality)"></ion-checkbox>
        </ion-col>
        <ion-col>
          <ion-label>{{subLocality}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

 

</ion-content>
<ion-grid class="done-btn">
  <button ion-button  block (click)="done()">Done</button>
</ion-grid>

