
<ion-header class="search-bar-div"> 
  <ion-row>
    <ion-col class="icon-col" col-1><button (click)="close()" class="back-btn" clear ion-button><ion-icon  name="custom-close"></ion-icon></button></ion-col>
    <ion-col class="search-col"> Select Guests & Rooms</ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-card *ngFor="let room of rooms; let i=index;">
      <ion-card-header>
          <span>Room {{i+1}}</span>
           <span *ngIf="i!=0" class="icon-span"><ion-icon  (click)="deleteRoom(i)" name="custom-trash" ></ion-icon></span>
        </ion-card-header>
    <ion-card-content>
        <ion-row class="detail-row">
            <ion-col class="label"><p>Adult</p><span>Above 12 years</span></ion-col>
            <ion-col class="value">
              <ion-row>
                <ion-col class="icon-col"><button (click)="decreaseAdults(i)" ion-button clear><ion-icon name="custom-delete"></ion-icon></button></ion-col>
                <ion-col class="value-col">{{room.adult}}</ion-col>
                <ion-col class="icon-col"><button (click)="increaseAdults(i)" ion-button clear><ion-icon name="custom-add"></ion-icon></button></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row  no-border-bottom class="detail-row">
              <ion-col class="label"><p>Children</p><span>2-12 years</span></ion-col>
              <ion-col class="value">
                <ion-row>
                  <ion-col class="icon-col"><button (click)="decreaseChildren(i)" ion-button clear><ion-icon name="custom-delete"></ion-icon></button></ion-col>
                  <ion-col class="value-col">{{room.child}}</ion-col>
                  <ion-col class="icon-col"><button (click)="increaseChildren(i)" ion-button clear><ion-icon name="custom-add"></ion-icon></button></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-item  *ngFor="let j of Arr(room.child).fill(0);let k=index">
                <ion-label>Age of Child {{k+1}} (yrs)</ion-label>
                <ion-select  [(ngModel)]="room.child_age[k]" interface="popover">
                  <ion-option value="2">2</ion-option>
                  <ion-option value="3">3</ion-option>
                  <ion-option value="4">4</ion-option>
                  <ion-option value="5">5</ion-option>
                  <ion-option value="6">6</ion-option>
                  <ion-option value="7">7</ion-option>
                  <ion-option value="8">8</ion-option>
                  <ion-option value="9">9</ion-option>
                  <ion-option value="10">10</ion-option>
                  <ion-option value="11">11</ion-option>
                  <ion-option value="12">12</ion-option>
                </ion-select>
              </ion-item>
              <ion-row  no-border-bottom class="detail-row">
                <ion-col class="label"><p>Infants</p><span>0-2 years</span></ion-col>
                <ion-col class="value">
                  <ion-row>
                    <ion-col class="icon-col"><button (click)="decreaseInfants(i)" ion-button clear><ion-icon name="custom-delete"></ion-icon></button></ion-col>
                    <ion-col class="value-col">{{room.infant}}</ion-col>
                    <ion-col class="icon-col"><button (click)="increaseInfants(i)" ion-button clear><ion-icon name="custom-add"></ion-icon></button></ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-item  *ngFor="let n of Arr(room.infant).fill(0); let m=index">
                  <ion-label>Age of Infants {{m+1}} (yrs)</ion-label>
                  <ion-select  [(ngModel)]="room.infant_age[m]" interface="popover">
                  <ion-option value="0">0</ion-option>
                  <ion-option value="1">1</ion-option>
                  <ion-option value="2">2</ion-option>
                    </ion-select>
                </ion-item>
    </ion-card-content>
  </ion-card>
  <button [hidden]="rooms.length>2" (click)="addRoom($event)" class="add-btn" ion-button clear>+ Add Another Room</button>
</ion-content>
<div (click)="done()" class="done-btn">
<span>Done</span>
</div>
